{% extends "layout.html" %}

{% block content %}
        <div class="row">
           <div class="col-md-12 text_center">
               <h4> In this tab, you can view data from many various tournament as a aggregated data.</h4>
               <h4> Found: {{counts}} records.</h4>
               <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Tournament Name</th>
                        <th scope="col">Player 1</th>
                        <th scope="col">Player 2</th>
                        <th scope="col">Player 1 Score</th>
                        <th scope="col">Player 2 Score</th>
                    </tr>
                    </thead>
                    <tbody>

            <!-- Construct the rest of courses here -->
                    {% for data in results %}
                    <tr>
                        <td scope='row'>{{ data[0] }}</td>
                        <td>{{ data[1] }}</td>
                        <td>{{ data[2] }}</td>
                        <td>{{ data[3] }}</td>
                        <td>{{ data[4] }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
           </div>
        </div>
{% endblock %}